.header {
  text-align: center;
  width: 45%;
}
.pull-right {

  width: 40%;
  margin-top:-100px;
}

img {
  width: 120px;
  height: 135px;
}

.pull-left{
  width: 25%;
  margin-top: -30px;

}

.pull-down {
  margin-top: 100px;
}

.pull-left p,ul {
  text-align: center;
}

#row {
  position: relative;
  width:20%%;
  margin-top: -1000px;


}

#row1 {
  position: relative;
  width: 80%;
}

#row2 {
  text-align: center;
  width: 80%;
}
